<header>
	<div class="nav">
		<h1 class="js-heading">John<br>Salon</h1>
		<h2 class="js-subtitle">FERNDALE, MICHIGAN</h2>
		<ul>
			<a href="/#about"><li class="header-nav-item">about</li></a>
			<a href="/#services"><li class="header-nav-item">services</li></a>
			<a href="/#gallery"><li class="header-nav-item">gallery</li></a>
			<a href="/#contact"><li class="header-nav-item">contact</li></a>
		</ul>
	</div>
	<div class="alert alert-info header-alert alert-dismissible">
		<p class="alert-text"><a class="alert-link" href="tel:1-248-217-1454">For Appointments, Call 248-217-1454</a></p>
	</div>
</header>