<header>
	<div class="nav">
		<h1 class="js-heading">John<br>Salon</h1>
		<h2 class="js-subtitle">FERNDALE, MICHIGAN</h2>
		<ul>
			<li class="header-nav-item"><a href="/#about">about</a></li>
			<li class="header-nav-item"><a href="/#services">services</a></li>
			<li class="header-nav-item"><a href="/#gallery">gallery</a></li>
			<li class="header-nav-item"><a href="/#contact">contact</a></li>
		</ul>
	</div>
	<div class="alert alert-info header-alert alert-dismissible">
		<p class="alert-text"><a class="alert-link" href="tel:1-248-217-1454">For Appointments, Call 248-217-1454</a></p>
	</div>
</header>