.red
	color:red
    
.form-area
	background-color: #FAFAFA
	padding: 10px 40px 60px
	margin: 10px 0px 60px
	border: 1px solid GREY

#contact
	padding-bottom: 60px

.contact-button
	background-color: $theme
	border-color: $theme
	color: $black
	font-weight: 700
	display: inline-block

.contact-button:hover
	background-color: $dkrtheme
	border-color: $dkrtheme
	color: $black
	font-weight: 700

.contact-button:focus
	background-color: $dktheme
	border-color: $dktheme
	color: $black
	font-weight: 700

.contact-button:visited
	background-color: $dktheme
	border-color: $dktheme
	color: $black
	font-weight: 700
	display: inline-block

.loading-gif
	display: inline-block
	padding-left: 15px
	width: 40px
	height: 40px

textarea[type="textarea"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
	border-color: $theme
	box-shadow: 0 1px 1px $theme inset, 0 0 8px $dktheme
	outline: 0 none
