header
	padding: 100px 0px
	text-align: center
	position: relative
	h1
		font-family: 'Pacifico', sans-serif

.nav
	display: block
	position: relative
	text-align: center
	margin: auto
	ul
		text-align: center
		list-style-type: none
		padding: 0
		li
			display: inline-block

.js-heading
	transform: rotate(-10deg)
	padding-bottom: 25px

.header-nav-item
	padding: 0px 40px
